body {
    background-color: white;
}
    
}
.header {
    color: black;
    padding: 10px;
    border: 1px solid black;
}

.title {
    margin: auto;
    color: black;
    font-family: Poppins;
    font-size: 1em;
    font-weight: 500px;
}
.subheader {
    margin: auto;
    color: black;
    font-size: 1em;
}
    
  .banner {
    padding: 3%;
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    font-weight: 300px;
    letter-spacing: 3px;
  }
  p, .banner-contents {
    max-width: 80%;
    margin: auto;
  }
  .text {
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.5px
}
.links {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin: auto;
    border: 0.5px solid black;
}
.ExtraSupport {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}
.box {
    background-color: navy;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-align: center;
    display: grid;
  }
  footer {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 0.4px;
    grid-column-start: 1;
    grid-column-end: 7;
    display: grid;
  }
  .img {
    height: 5em;
    margin-left: 75px;
  }
  .img {
    height: 5em;
    margin-left: 75px;
  }

  .img {
    height: 5em;
    margin-left: 75px;
  }
